<h1>Listing diagnostics</h1>

<table>
<%= link_to 'New Diagnostic', new_diagnostic_path %>
</table>

<table border="4" style="width:60%">
  <thead>
    <tr>
      <th> Code </th>
      <th> Name </th>
      <th> Fee </th>
      <th colspan="3"> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.code %></td>
        <td style="width:35"><%= diagnostic.name %></td>
        <td><%= diagnostic.fee %></td>
        <td><%= link_to 'Show', diagnostic %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>
        <td><%= link_to 'Delete', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic', new_diagnostic_path %>
