<%= simple_form_for(@insurance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :insurancename %>
    <%= f.input :insurancepolicynumber %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
