<p id="notice"><%= notice %></p>

<p>
  <strong>Insurancename:</strong>
  <%= @insurance.insurancename %>
</p>

<p>
  <strong>Insurancepolicynumber:</strong>
  <%= @insurance.insurancepolicynumber %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
