<h1>Listing Physicians</h1>

<table border="4" style="width:80%">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Address</th>
      <th> City</th>
      <th> State</th>
      <th> Zip </th>
      <th> Email </th>
      <th colspan="3"> Action </th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.firstname %></td>
        <td><%= physician.lastname %></td>
        <td><%= physician.address %></td>
        <td><%= physician.city %></td>
        <td><%= physician.state %></td>
        <td><%= physician.zip %></td>
        <td><%= physician.email %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
