<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @physician.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @physician.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @physician.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @physician.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @physician.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @physician.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
