<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <header><b>Insurance Name</b></header> </n>
    <%= f.collection_select :insurance_id, Insurance.all, :id, :insurancename, :prompt => 'Please Select Insurance Name'%>
    <header><b>Insurance Policy Number</b></header> </n>
    </b>
    <%= f.text_field :insurancepolicynumber %>
  </div>

  <div class="form-actions">
    </br>
    <%= f.button :submit %>
  </div>
<% end %>
