<h1>Patients</h1>

<table border="4" style="width:80%">
  <thead>
    <tr>
      <th>  First Name </th>
      <th>  Last Name </th>
      <th>  Address </th>
      <th>  City </th>
      <th>  State </th>
      <th>  Zip </th>
      <th>  Phone </th>
      <th>  Email </th>
      <th>  Insurance </th>
      <th>  Insurance Policy Number </th>
      <th colspan="3"> Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.address %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.zip %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.email %></td>
        <td><%= patient.insurance.insurancename %></td>
        <td><%= patient.insurancepolicynumber %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
