<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.insurancename %>
</p>

<p>
  <strong>Insurance Policy Number:</strong>
  <%= @patient.insurancepolicynumber %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
