<%= simple_form_for(@appointment) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <header><b> Patient Name </b></header>
          <%= f.collection_select(:patient_id, Patient.all, :id, :fullname, :prompt => 'Select Patient Name') %>

          </br>
          </br>
          <%= f.input :reason %>
          </br>
          <header><b>Appointment Time</b></header>
          </br>
          <%= f.text_field :appointmenttime, :id => 'idname' %>

          <% f.collection_select :physician_id, Physician.all, :id, :lastname, :prompt => 'Please Select a Physician' %>

          <% f.input :notes %>
          <% f.collection_select :diagnostic_id, Diagnostic.all, :id, :name, :prompt => 'Please Select a Diagnostic'%>

          <% f.collection_select :stage_id, Stage.all, :id, :name, :prompt => 'Please Select a Status' %>

        </div>

    </br>
  <div class="form-actions">
    <%= f.button :submit %>
    </br>
  </div>
<% end %>
