<h1>Appointments List</h1>

<table id='appointment_list' border="none" style="width:80%">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Reason</th>
      <th>Appointment Time</th>
      <th>Physician</th>
      <th>Notes</th>
      <th>Diagnostic Name</th>
      <th>Status</th>
      <th colspan="4">Action</th>
    </tr>
  </thead>

  <%=@CurrentTime =(Time.now - 6.hours) %>

  <tbody>
  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to "Receipt PDF", appointment_path(appointment, format: "pdf") %></td>
        <td><%= appointment.patient.firstname %></td>
        <td><%= appointment.patient.lastname %></td>
            <%  appointment.patient.phone %>
            <%  appointment.patient.email %>
        <td><%= appointment.reason %></td>
        <td><%= appointment.appointmenttime.strftime('%a %m/%d/%y   %H:%M %P') %></td>
        <td><%= appointment.physician.lastname rescue "" %></td>
        <td><%= appointment.notes rescue "" %></td>
        <td><%= appointment.diagnostic.name rescue ""  %></td>
        <td><%= appointment.stage.name rescue"" %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>


<br>

<%= link_to 'New Appointment', new_appointment_path %>
