<p id="notice"><%= notice %></p>


  <p>
  <strong>Patient:</strong>
  <%= @appointment.patient.fullname %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.appointmenttime %>
</p>

  <% @appointment.physician_id %>
  <% @appointment.notes %>
  <% @appointment.diagnostic.name rescue "" %>
  <% @appointment.stage.name rescue "" %>



<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Delete', method: :delete, data: {confirm: "Are You Sure?"} %> |
<%= link_to 'Back', appointments_path %>



