<%# navigation styled for Bootstrap 3.0 %>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div align = "right"  class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if user_signed_in? %>

              <%= link_to 'Patients', new_patient_path, class: 'navbar-brand' %>
              <%= link_to 'Appointments', new_appointment_path, class: 'navbar-brand' %>

      <% else %>

      <%= link_to 'Appointments', appointments_path, class: 'navbar-brand' %>
      <%= link_to 'Physicians', physicians_path, class: 'navbar-brand' %>
      <%= link_to 'Patients', patients_path, class: 'navbar-brand' %>
      <%= link_to 'Diagnostics', diagnostics_path, class: 'navbar-brand' %>

      <% end %>



    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>

